@*@inject HttpSecure http;*@
@inject NavigationManager UriHelper


@if (!IsLoaded)
{

    <div class="welcome-container">
        <div class="card spinner-text">
            <div class="card-body">
                <p>@Title</p>
            </div>

            <div class="spinner">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
    </div>

}
else
{
    @ChildContent
}


@code {

    //[CascadingParameter]
    //private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //var user = (await authenticationStateTask).User;

        //if (RequireLogin && !user.Identity.IsAuthenticated)
        //{
        //    UriHelper.NavigateTo("login");
        //}
    }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool IsLoaded { get; set; }

    [Parameter]
    public bool RequireLogin { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
