@using Oarw.Data.Tracking

@if (EditItem == null)
{
    <button type="button" class="@CssClass" @onclick="@(()=>StartEdit())" data-toggle="modal" data-target="#trackedEditor_@(EditorId)">
        @if (ChildContent != null) 
        { 
            @ChildContent
        }
        else if(EditItem == null)
        {
            <span><i class="fas fa-plus" aria-hidden="true"></i> Add</span>
        }
        else
        {
            <i class="fas fa-edit" aria-hidden="true"></i>
        }
    </button>
}

@code {

    private string EditorId { get { return Editor != null ? Editor.EditorId.ToString() : "trackedEditor";  } }

    [CascadingParameter]
    public ITrackedEditor Editor { get; set; }


    [Parameter]
    public Func<ITrackedEditor> GetEditor { get; set; }

    [Parameter]
    public ITrackableObject EditItem { get; set; }

    [Parameter]
    public Func<ITrackableObject> Create { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; } = "btn btn-primary btn-sm";

    void StartEdit()
    {
        if(Create != null)
        {
            Editor.StartCreate(Create());

        }
        else
        {
            Editor.StartEdit(EditItem);
        }

    }
}
