@page "/tracked"
@using Oarw.Data.Tracking
@using Oarw.Data.Tracking.Blazor

<h1>Tracked Editor</h1>

@if(TestData != null)
{
    <TrackedEditor TItem="DemoData"  url="" Context="editData">
        <EditModal>
            <input type="text" @bind-value="@editData.Name" />
            <InputDateTime @bind-Value="@editData.StartDate" />
        </EditModal>
        <ChildContent>
            <input type="text" @bind-value="@TestData.Name"/>
            <TrackedEditButton Create="@(()=> TestData)" />

                <TrackedUpdate>
                    <TrackedUpdateItem Url="" EditItems="EditItems" TItem="DemoData" />
                </TrackedUpdate>
        </ChildContent>
    </TrackedEditor>
}


@code {

    public DemoData TestData { get; set; }

    public List<DemoData> EditItems { get; set; } = new List<DemoData>();

    protected override async Task OnInitializedAsync()
    {
        TestData = new DemoData();
        EditItems.Add(TestData);

        EditItems.StartTracking();
        EditItems.WhenChanged(() => StateHasChanged());

        StateHasChanged();

        await Task.CompletedTask;
    }

}
